<div class="img-container my-3 shadow">
  <img src="./assets/about_img/about_img.jpg" alt="" class="img-fluid">
  <h1 class="img-title">Learn more about us</h1>
</div>
<div class="container-fluid my-2 shadow">
  <div class="row">
    <div class="card w-100">
      <h1 class="card-title text-center">Lorem Ipsum</h1>
      <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus lectus nec magna mollis, pulvinar tempus mauris tristique. <br> Vestibulum gravida odio nec malesuada feugiat. Nam eget faucibus lectus. Proin ac dui eros. Suspendisse potenti. Aenean ac urna a enim feugiat finibus ut ac urna. Ut hendrerit nulla dui. Nulla facilisi. Suspendisse mollis pretium nunc sed sagittis. Aliquam vestibulum lorem ut libero commodo, id bibendum mauris lacinia. Praesent volutpat urna sed tincidunt viverra. <br> <br>

          Morbi sagittis placerat quam non tempus. Praesent ultrices, felis a varius porta, neque leo imperdiet dui, sit amet sollicitudin lorem metus ut odio. Nunc volutpat tellus nec dolor pellentesque laoreet. Sed ut elit id urna mollis blandit at id nisi. Nulla efficitur porttitor arcu, eget vulputate neque laoreet id. Morbi pellentesque, justo vel luctus consequat, nunc augue sagittis arcu, in laoreet magna odio vitae tortor. Nullam justo lectus, facilisis eu aliquam sed, egestas quis purus. Mauris accumsan volutpat elit vel porttitor. Aenean elementum lectus mi, nec venenatis metus pellentesque at. Maecenas ut semper sem, vel ultricies sem. Nulla facilisi. Donec vel eleifend justo, non interdum dui. Aliquam maximus imperdiet purus nec facilisis. <br> <br>

          Proin vitae sapien mauris. Maecenas sed odio nec enim sollicitudin hendrerit. Quisque quis lacus malesuada, imperdiet nunc eu, accumsan ipsum. Proin tempus nunc eget sem vulputate, vel euismod dui blandit. Quisque mi justo, ultricies eget pulvinar id, dictum vitae neque. Curabitur sed molestie ex. Sed id gravida massa, eget aliquam tortor. Praesent nec lobortis est.</p>
      </div>

    </div>
  </div>
</div>
