<div class ="container-fluid">
  <div class ="row h-25">
    <div class="col my-5">
      <h3 class="text-center my-5">Please do not hesitate to contact us <br> if you have any questions</h3>
    </div>
    <div class ="col">
      <img src="./assets/contact_img/contact_us.jpg" alt="" class="img-fluid">
    </div>

  </div>
  <div class = "row">
   <h2 class="text-danger">Since this is a mock site the form below does not pass any data to a server, nor does it store the data. See konsole to see the json object created by the form</h2>
  </div>
  <!--contact form-->
  <div class="row">
    <div class="card mx-auto">
      <div class="card-body">
        <form #myForm="ngForm" (ngSubmit)= "myForm.reset()">
          <!--form row-->
          <div class="container">
            <div class="row">
              <div class="col">
                <label>Name <br><input type="text" [(ngModel)]= "contact.name" name="name"></label>
              </div>
              <div class="col">
                <label>Email <br><input type="text" [(ngModel)] = "contact.email" name="email"></label>
              </div>
            </div>
            <div class="row">
              <textarea class="w-75 h-100 mx-auto" [(ngModel)] = "contact.message" name="message"></textarea>
            </div>
            <div class="row">
              <button class="btn btn-primary mx-auto my-2" (click) = "submitcontact()">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
