<div class="img-container my-3 shadow">
  <img src="./assets/destination_img/destination_img.jpg" alt="" class="img-fluid">
  <h1 class="img-title">Only the most exotic places</h1>
</div>
<div class="container-fluid my-2 shadow">
  <div class="row">
    <div class="card w-100 pb-5">
      <h1 class="card-title text-center">Lorem Ipsum</h1>
      <div class="container">
        <div class="row">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus lectus nec magna mollis, pulvinar tempus mauris tristique. <br> Vestibulum gravida odio nec malesuada feugiat. Nam eget faucibus lectus. Proin ac dui eros. Suspendisse potenti. Aenean ac urna a enim feugiat finibus ut ac urna. Ut hendrerit nulla dui. Nulla facilisi. Suspendisse mollis pretium nunc sed sagittis. Aliquam vestibulum lorem ut libero commodo, id bibendum mauris lacinia. Praesent volutpat urna sed tincidunt viverra. <br>
          <p class="text-danger">This example only holds hotels in the US. Therefor pick United States from the list below</p>
        </div>
        <div class="row">
          <div class="mx-auto w-100">
            <ng-multiselect-dropdown
              name="destination"
              [placeholder]="'Select a country to travel to'"
              [settings]="destinationDropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedDestinationItem"
              (onSelect)="onDestinationSelect($event)"

            ></ng-multiselect-dropdown>
            <div *ngIf = "selectedDestinationItem">
              <div class="my-1">
                Travel to: {{selectedDestinationItem.item_text}}
              </div>
            </div>
          </div>
          <div *ngIf = "selectedDestinationItem" class="mx-auto my-4 w-100">
            <ng-multiselect-dropdown
              name="airports"
              [placeholder]="'Select airport'"
              [settings]="airportDropdownSettings"
              [data]="result"
              [(ngModel)]="selectedAirportItem"
              (onSelect)="onAirportSelect($event)"

            ></ng-multiselect-dropdown>
            <div *ngIf = "selectedAirportItem">
              <div class="my-1">
                Selected airport: {{selectedAirportItem.airport_text}}
              </div>
            </div>
          </div>
          <div *ngIf = "selectedAirportItem" class="mx-auto my-4 w-100">
            <ng-multiselect-dropdown
                name="hotel"
                [placeholder]="'Select hotel'"
                [settings]="hotelDropdownSettings"
                [data]="filteredhotels"
                [(ngModel)]="selectedHotelItem"
                (onSelect)="onHotelSelect($event)"
              ></ng-multiselect-dropdown>

          </div>
          <div  *ngIf="selectedHotelItem" class="mx-auto my-4 w-100">
            <!---->
            <div class="card">
              <h4 class="card-title text-center"><b>{{selectedHotelItem.HotelName}}</b></h4>
              <div class="card-body">
                <div class="container">
                  <div *ngFor="let tag of selectedHotelItem.Tags">
                    <li style="float:left;" class="p-1">{{tag}}</li>
                  </div>
                  <div class="row">
                    <p>{{selectedHotelItem.Description}}</p>
                  </div>
                  <div class="row">
                    <p *ngIf="selectedHotelItem.ParkingIncluded">Parking is included</p><p *ngIf="!selectedHotelItem.ParkingIncluded">Parking is not included</p>
                  </div>
                  <div class="row">
                      <p>Address:</p> <br>
                          {{selectedHotelItem.Address.StreetAddress}}
                          {{selectedHotelItem.Address.City}} {{selectedHotelItem.Address.PostalCode}} <br>
                          {{selectedHotelItem.Address.StateProvince}}  {{selectedHotelItem.Address.Country}}
                  </div>
                  <div class="row">
                    <table class="table table-responsive">
                      <thead>
                        <tr>
                          <th>Description</th>
                          <th>Type</th>
                          <th>BaseRate</th>
                          <th>BedOptions</th>
                          <th>SleepsCount</th>
                          <th>SmokingAllowed</th>
                          <th>Tags</th>
                          <th class="d-none"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let room of selectedHotelItem.Rooms">
                          <td>{{room.Description}}</td>
                          <td>{{room.Type}}</td>
                          <td>{{room.BaseRate}}</td>
                          <td>{{room.BedOptions}}</td>
                          <td>{{room.SleepsCount}}</td>
                          <td>{{room.SmokingAllowed}}</td>
                          <td>{{room.Tags}}</td>
                          <td><button class="btn btn-primary">select room</button></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngIf="selectedAirportItem && selectedDestinationItem && selectedHotelItem">
            <div class="mx-auto">
              <button class="btn btn-primary mx-auto">Book now</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

