<nav class="navbar navbar-expand-lg navbar-light shadow bg-light my-1">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#respnav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="respnav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/destinations">Destinations</a>
      <a class="nav-item nav-link" routerLink="/contact">Contact Us</a>
     </div>
  </div>
</nav>

<router-outlet></router-outlet>
