
<div class="img-container my-3 shadow">
  <img src="./assets/emg_img/emg_img.jpg" alt="" class="img-fluid">
  <h1 class="img-title">Get help below!</h1>
</div>
<div class="container my-2 shadow">
  <div class="row">
    <div class="mx-auto">
      <div class ="card my-3 pb-5">
        <div class="container">
          <div class="row">
            <div class="mx-auto">
              <h3 class="card-text text-center">If you need help from emergency services find and contact the numbers below</h3>
              <h5 class="text-danger card-text text-center">Numbers are omitted in this demo</h5>
            </div>
          </div>
          <div class="row">
            <div class="mx-auto w-100">
              <ng-multiselect-dropdown
                name="helpcontry"
                [placeholder]="'Select a country below'"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="selectedItem"
                (onSelect)="onItemSelect($event)"
              ></ng-multiselect-dropdown>
            </div>
          </div>
          <div *ngIf="selectedItem" class="row my-5">
            <div class="mx-auto w-100">
              <ul>
                <li>{{selectedItem.item_text}}</li>
                <li>{{selectedItem.item_id}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
