/* You can add global styles to this file, and also import other style files */
.img-container {
  position: relative;
}
.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  top: 10%;
  letter-spacing: 3px;
}
