<div class="img-container my-2">
  <img src="./assets/invester_img/invester_img.jpg" alt="" class="img-fluid">
  <h2 class="img-title">Become an invester</h2>
</div>

<div class ="container">
  <div class="row">
    <h2 class="mx-auto my-4">Become a part of a healty company with massiv growth</h2>
  </div>
  <div class="row">
    <canvas baseChart class="w-100 h-100"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"
      ></canvas>
  </div>
</div>
