<div class = "container-fluid">
  <!--1. row-->
  <div class="row my-4">
    <div>
      <h1 class="text-danger text-center">This is a mock site</h1>
    </div>
  </div>
  <!--2. row-->
  <div class = "row shadow">
    <div class ="col my-4">
      <div class = "row">
        <h3 class = "mx-auto">Travel to great destinations</h3>
      </div>
      <div class = "row my-3">
        <div class ="container">
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porta nibh venenatis cras sed felis eget.</h6>
          <div>
            <h3>Save 20 % right now</h3>
          </div>
        </div>

      </div>

    </div>

    <div class ="col">
      <div class="img-container">
        <img src="./assets/cover_img/pexels-jonathan-borba-4922785.jpg" alt="" class ="img-fluid">
        <button class = "btn btn-danger btn-lg"><a href="./offers" >SALE</a> </button>
      </div>

    </div>
  </div>
<!--End of first row-->
<!--3. row-->
  <div class="row my-2 shadow">

    <div class ="card-deck mx-auto">
      <div *ngFor = "let card of cards" class = "card">
        <div class = "card-body">
          <h4 class = "card-title">{{card.title}}</h4>
          <p class ="card-text">{{card.desc}}</p>
        </div>
      </div>
    </div>
  </div>
<!--End of 2. row-->
<!--3. row-->
  <div class="container-fluid">
    <div class="row shadow">
      <div class="col">
        <div class="img-container">
          <h3 class="text-center img-title">Spend time with your loved once</h3>
          <img src="./assets/home_img/pexels-nandhu-kumar-450441.jpg" alt="" class ="img-fluid">
        </div>

      </div>
      <div class="col">
        <div class="img-container">
          <h3 class="text-center img-title">Recharge your batteries</h3>
          <img src="./assets/home_img/pexels-nappy-1154638.jpg" alt="" class ="img-fluid">
        </div>


      </div>
    </div>
  </div>

<!--End of 3. row-->
<!--5. row-->
  <div class="row my-3">
    <div class ="col">
      <ul>
        <a href="./contact"><li>Contact us</li></a>
        <a href="./emg-service"><li>List of emerency services</li></a>
        <a href="./about"> <li>About</li></a>
      </ul>
    </div>
    <div class="col">
      <ul>
        <a href="./partners"> <li>Partners</li></a>
        <a href="./investers"> <li>Investers</li></a>
        <a href="./planes"> <li>Planes</li></a>
      </ul>
    </div>
  </div>
</div>
