<div class="img-container my-3 shadow">
  <img src="./assets/offer_img/offer_img.jpg" alt="" class="img-fluid">
  <h1 class="img-title">Go on an adventure with one of these great offers</h1>
</div>
<div class="container">
  <div class="card">
    <table class="table table-responsiv rounded">
    <thead>
      <tr>
        <th>description</th>
        <th>Price</th>
        <th>Destination</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offers">
        <td>{{offer.desc}}</td>
        <td>{{offer.price}}</td>
        <td>{{offer.destination}}</td>
        <td><button class="btn btn-danger">Select offer</button></td>
      </tr>
    </tbody>
  </table>
  </div>

</div>
